<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>311146761227-tfkufvngtdkar09q5alrmfmhjncnpj2t.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.311146761227-tfkufvngtdkar09q5alrmfmhjncnpj2t</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>311146761227-29c5q4l9n4cuianmgdmg7akbskd6tbs0.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyDIo65tzofTNDAiZlUxEGjwMy0yR6UncrI</string>
    <key>GCM_SENDER_ID</key>
    <string>311146761227</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.hhm.expensetracker</string>
    <key>PROJECT_ID</key>
    <string>genius-837f1</string>
    <key>STORAGE_BUCKET</key>
    <string>genius-837f1.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:311146761227:ios:f8fdaf9831b88baa960b0e</string>
    <key>DATABASE_URL</key>
    <string>https://genius-837f1.firebaseio.com</string>
</dict>
</plist>
